@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family-primary:'Poppins', sans-serif;

  --text-primary-color:white;
  --hover-text-primary-color:rgb(199, 198, 198);

  --background-primary-color:rgb(7, 1, 19);
}